<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}"/>

    <title>Conference details</title>
</head>
<body>
<header th:insert="header.html :: nav"></header>
<br>
<br>
<br>
<div th:if="${found}" class="container">
    <div class="row justify-content-center">
        <h2>Conference not found</h2>
    </div>
</div>

<div class="container" th:unless="${found}">
    <div class="card">
        <div class="card-header" th:text="${conference.topic}">
            Featured
        </div>
        <div class="card-body">
            <h4 class="card-title" th:text="'Topic of reports: '"></h4>
            <div th:each="topic: ${conference.topicOfReports}">
                <h5 th:text="${topic.topic}"></h5>
            </div>
            <h6 class="card-text" th:text="'Number people: ' + ${conference.numberOfParticipants}"></h6>
            <h6 class="card-text" th:text="'Time of holding: ' + ${conference.timeOfHolding}"></h6>
            <h6 class="card-text" th:text="'Venue: ' + ${conference.venue}"></h6>
            <a th:href="@{/update-conference/{id}(id = ${conference.id})}" class="btn btn-danger">Update</a>
        </div>
    </div>


    <div class="accordion mt-5" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseOne"
                            aria-expanded="false" aria-controls="collapseOne">
                        Запропонувати свою доповідь
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse" th:classappend="${param.topicOfferSuccess} ? 'show' : ''"
                 aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <form method="post" th:action="@{/speaker/offer-topic/{id}(id = ${conference.id})}"
                          th:object="${topicOfferDTO}">
                        <div th:if="${param.topicOfferSuccess}">
                            <div class="alert alert-info" th:text="'Вашу тему запропоновано'"></div>
                        </div>
                        <div th:if="${param.topicOfferError}">
                            <div class="alert alert-danger" th:text="'Вашу тему відхилено'"></div>
                        </div>

                        <div class="form-group row">
                            <label for="text" class="col-3 col-form-label">Text Field</label>
                            <div class="col-9">
                                <input id="text" name="text" type="text" class="form-control" th:field="*{topic}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col text-center">
                                <button name="submit" type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Запрпонувати себе як спікера на вільну тему
                    </button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" th:classappend="${param.speakerOfferSuccess} ? 'show' : ''"
                 aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <form th:action="@{/speaker/offer-yourself/{id}(id = ${conference.id})}"
                          th:object="${speakerOfferDTO}" method="post">

                        <div th:if="${param.speakerOfferSuccess}">
                            <div class="alert alert-info" th:text="'Вашу кандидатуру запропоновано'"></div>
                        </div>

                        <div th:if="${param.speakerOfferError}">
                            <div class="alert alert-danger" th:text="'Вашу кандидатуру відхилено'"></div>
                        </div>

                        <div class="form-group row">
                            <label for="select" class="col-3 col-form-label">Виберіть вільну тему</label>
                            <div class="col-9">
                                <select id="select" name="select" class="custom-select" th:field="*{reportTopicId}">
                                    <option
                                            th:each="topic: ${topicWithoutSpeaker}"
                                            th:value="${topic.id}"
                                            th:text="${topic.topic}">
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col text-center">
                                <button name="submit" type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>
