<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">
<head>
    <meta charset="UTF-8">

    <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css"  href="/css/style.css"/>

    <title>Conferences</title>
</head>
<body>
<header th:insert="header.html :: nav"></header>
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-3">

            <div class="card">
                <article class="card-group-item">
                    <div class="list-group">
                        <a th:href="@{/conferences}"
                           th:classappend="${url == '/conferences'} ? 'active': ''"
                           class="list-group-item list-group-item-action"
                           th:text="#{conference.all}">
                        </a>
                        <a th:href="@{/conferences/past-events}"
                           class="list-group-item list-group-item-action"
                           th:classappend="${url == '/conferences/past-events'} ? 'active': ''"
                           th:text="#{conference.past}"></a>
                        <a th:href="@{/conferences/upcoming-events}"
                           class="list-group-item list-group-item-action"
                           th:classappend="${url == '/conferences/upcoming-events'} ? 'active': ''"
                           th:text="#{conference.upcoming}"></a>
                    </div>
                </article>
            </div>

            <div class="card mt-3">
                <article class="card-group-item">
                    <header class="card-header">
                        <h6 class="title">DATA </h6>
                    </header>
                    <div class="filter-content">
                        <div class="card-body">
                            <form method="get" th:action="@{/conferences/date-range}" th:object="${dateRangeDTO}">
                                <label>From
                                    <input type="date" class="form-control" th:field="*{from}">
                                    <p class="error-message text-danger"
                                       th:each="error: ${#fields.errors('from')}"
                                       th:text="${error}"></p>
                                </label>
                                <label>To
                                    <input type="date" class="form-control" th:field="*{to}">
                                    <p class="error-message text-danger"
                                       th:each="error: ${#fields.errors('to')}"
                                       th:text="${error}"></p>
                                </label>
                                <p class="error-message text-danger"
                                   th:each="error: ${#fields.globalErrors()}"
                                   th:text="${error}"></p>
                                <div class="col text-center">
                                    <input type="submit" value="Search">
                                </div>
                            </form>
                        </div>
                    </div>
                </article>
            </div>
        </div>

        <div class="col-sm-9">

            <div class="card-body mb-3">
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <label class="m-1" for="rowsPerPage">Rows per page:</label>
                        <select id="rowsPerPage" class="form-control"
                                onchange="location = location.protocol + '//' + location.host + location.pathname + this.value">
                            <option th:selected="${conferences.getSize()==1}" value="?size=1">1</option>
                            <option th:selected="${conferences.getSize()==3}" value="?size=3">3</option>
                            <option th:selected="${conferences.getSize()==5}" value="?size=5">5</option>
                            <option th:selected="${conferences.getSize()==7}" value="?size=7">7</option>
                            <option th:selected="${conferences.getSize()==10}" value="?size=10">10</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="m-1" for="sortBy">Order by:</label>
                        <select id="sortBy" class="form-control"
                                onchange="location = location.protocol + '//' + location.host + location.pathname + this.value">
                            <option th:selected="${conferences.getSort().isEmpty()}">---</option>

                            <option th:selected="${conferences.getSort().toString().equals('topicCount: DESC')}"
                                    value="?sort=topicCount,DESC">
                                Кількістю доповідей: спадання
                            </option>
                            <option th:selected="${conferences.getSort().toString().equals('topicCount: ASC')}"
                                    value="?sort=topicCount">
                                Кількістю доповідей: зростання
                            </option>

                            <option th:selected="${conferences.getSort().toString().equals('numberOfParticipants: DESC')}"
                                    value="?sort=numberOfParticipants,DESC">
                                Кількістю учасників: спадання
                            </option>
                            <option th:selected="${conferences.getSort().toString().equals('numberOfParticipants: ASC')}"
                                    value="?sort=numberOfParticipants">
                                Кількістю учасників: зростання
                            </option>
                        </select>
                    </div>
                </form>
            </div>

            <div class="row justify-content-md-center" th:if="${conferences.isEmpty()}">
                <h1 th:text="#{pagination.no-conferences-found}"></h1>
            </div>


            <div class="card mb-3" th:each="conference: ${conferences}">
                <div class="card-header" th:text="${conference.topic}">
                    Featured
                </div>
                <div class="card-body">
                    <h5 class="card-title" th:text="'Topic of reports: '"></h5>
                    <div style="margin-left: 40px" th:each="topic: ${conference.topicOfReports}">
                        <h6 th:text="${topic.getSpeaker() != null ? topic.topic + ' - ' + topic.getSpeaker().getEmail() : topic.topic + ' - ' + 'вільна тема'}"></h6>
                    </div>
                    <hr>
                    <br>
                    <h6 class="card-text" th:text="'Number people: ' + ${conference.numberOfParticipants}"></h6>
                    <h6 class="card-text" th:text="'Time of holding: ' + ${conference.timeOfHolding}"></h6>
                    <h6 class="card-text" th:text="'Venue: ' + ${conference.venue}"></h6>
                    <a th:href="@{/conference-details/{id}(id = ${conference.id})}" class="btn btn-primary">Details</a>
                    <a sec:authorize="hasAuthority('MODERATOR')"
                       th:href="@{/update-conference/{id}(id = ${conference.id})}" class="btn btn-danger">Update</a>

                </div>
            </div>

            <div class="row justify-content-md-center" th:if="${!conferences.isEmpty()}">
                <ul class="pagination" th:with="start = ${start}, last = ${last}">

                    <li class="page-item" th:classappend="${conferences.getNumber() + 1} == 1 ? 'disabled': ''">
                        <a class="page-link"
                           th:href="@{${url}(sort = ${conferences.getSort().toString().equals('UNSORTED')} ? '':${conferences.getSort().toString().replaceAll(': ', ',')}, size = ${conferences.getSize()}, page = 1)}"
                           th:text="#{pagination.first-page}"></a>
                    </li>

                    <li class="page-item" th:classappend="*{!conferences.hasPrevious()} ? 'disabled': ''">
                        <a class="page-link"
                           th:href="@{${url}(sort = ${conferences.getSort().toString().equals('UNSORTED')} ? '':${conferences.getSort().toString().replaceAll(': ', ',')}, size = ${conferences.getSize()}, page = ${conferences.getNumber()})}">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    <li th:each="page : ${#numbers.sequence(start, last)}"
                        th:class="${page == conferences.getNumber() + 1} ? 'page-item  active' : 'page-item'">
                        <a class="page-link"
                           th:href="@{${url}(sort = ${conferences.getSort().toString().equals('UNSORTED')} ? '':${conferences.getSort().toString().replaceAll(': ', ',')}, size = ${conferences.getSize()}, page = ${page})}"
                           th:text="${page}"></a>
                    </li>

                    <li class="page-item" th:classappend="*{!conferences.hasNext()} ? 'disabled': ''">
                        <a class="page-link"
                           th:href="@{${url}(sort = ${conferences.getSort().toString().equals('UNSORTED')} ? '':${conferences.getSort().toString().replaceAll(': ', ',')}, size = ${conferences.getSize()}, page = ${conferences.getNumber() + 2})}">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>

                    <li class="page-item" th:classappend="${conferences.getNumber() + 1 == last} ? 'disabled': ''">
                        <a class="page-link"
                           th:href="@{${url}(sort = ${conferences.getSort().toString().equals('UNSORTED')} ? '':${conferences.getSort().toString().replaceAll(': ', ',')}, size = ${conferences.getSize()}, page = ${conferences.totalPages})}"
                           th:text="#{pagination.last-page}"></a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>
</body>
</html>
