<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">

    <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <style>
        .container {
            padding: 3%;
            margin-top: 3%;
            margin-bottom: 3%;
            border-radius: 0.5rem;
            background: #fff;
        }
    </style>
    <title>Processed offers</title>
</head>
<body>
<header th:insert="header.html :: nav"></header>

<div class="container justify-content-center">
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link" th:classappend="${param.topic}?'':' active'" id="nav-home-tab"
               data-toggle="tab" href="#nav-home" role="tab"
               aria-controls="nav-home" aria-selected="true">Processed Speaker Offers</a>
            <a class="nav-item nav-link" th:classappend="${param.topic}?'active':''" id="nav-profile-tab"
               data-toggle="tab" href="#nav-profile" role="tab"
               aria-controls="nav-profile" aria-selected="false">Processed Topic Offers</a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div th:class="${param.topic}?'tab-pane fade':'tab-pane fade show active'" id="nav-home" role="tabpanel"
             aria-labelledby="nav-home-tab">
            <div class="alert alert-info mt-4" th:if="${processedSpeakerOffers.isEmpty()}">
                Немає оброблених пропозицій на вільні теми
            </div>
            <div th:if="${!processedSpeakerOffers.isEmpty()}">
                <table class="table mt-5">
                    <thead class="thead">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Conference</th>
                        <th scope="col">Report topic</th>
                        <th scope="col">Speaker</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="offer, state : ${processedSpeakerOffers}">
                        <td th:scope="col" th:text="${state.count}"></td>
                        <td>
                            <a th:href="@{/conference-details/{id}(id = ${offer.reportTopic.conference.id})}"
                               th:text="${offer.reportTopic.conference.topic}"></a>
                        </td>
                        <td th:text="${offer.reportTopic.topic}"></td>
                        <td th:text="${offer.speaker.email}"></td>
                        <td th:text="${offer.status}"></td>
                        <td>
                            <a th:if="${offer.status.toString() !='ACCEPT'}"
                               th:href="@{/offers/accept-speaker-offer/{id}(id = ${offer.id}, url = '/processed')}"
                               class="btn btn-outline-success"
                               th:text="'accept'">
                            </a>
                            <a th:if="${offer.status.toString() !='DENIED'}"
                               th:href="@{/offers/deny-speaker-offer/{id}(id = ${offer.id}, url = '/processed')}"
                               class="btn btn-danger"
                               th:text="'deny'">
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item" th:classappend="*{!processedSpeakerOffers.hasPrevious()} ? 'disabled': ''">
                            <a class="page-link"
                               th:href="@{/offers/processed(p2_size = ${processedTopicOffers.getSize()}, p2_page = ${processedTopicOffers.getNumber() + 1}, p1_size = ${processedSpeakerOffers.getSize()}, p1_page = ${processedSpeakerOffers.getNumber()})}"
                               aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>

                        <li th:each="page : ${#numbers.sequence(1, processedSpeakerOffers.getTotalPages())}"
                            th:class="${page == processedSpeakerOffers.getNumber() + 1} ? 'page-item active' : 'page-item'">
                            <a class="page-link"
                               th:href="@{/offers/processed(p2_size = ${processedTopicOffers.getSize()}, p2_page = ${processedTopicOffers.getNumber() + 1}, p1_size = ${processedSpeakerOffers.getSize()}, p1_page = ${page})}"
                               th:text="${page}">
                            </a>
                        </li>

                        <li class="page-item" th:classappend="*{!processedSpeakerOffers.hasNext()} ? 'disabled': ''">
                            <a class="page-link"
                               th:href="@{/offers/processed(p2_size = ${processedTopicOffers.getSize()}, p2_page = ${processedTopicOffers.getNumber() + 1}, p1_size = ${processedSpeakerOffers.getSize()}, p1_page = ${processedSpeakerOffers.getNumber() + 2})}"
                               aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div th:class="${param.topic}?'tab-pane fade show active':'tab-pane fade'" id="nav-profile" role="tabpanel"
             aria-labelledby="nav-profile-tab">
            <div class="alert alert-info mt-4" th:if="${processedTopicOffers.isEmpty()}">
                Немає оброблених пропозицій своїх тем
            </div>
            <div th:if="${!processedTopicOffers.isEmpty()}">
                <table class="table mt-5">
                    <thead class="thead">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Conference</th>
                        <th scope="col">Report topic</th>
                        <th scope="col">Speaker</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="offer, state : ${processedTopicOffers}">
                        <td th:scope="col" th:text="${state.count}"></td>
                        <td>
                            <a th:href="@{/conference-details/{id}(id = ${offer.conference.id})}"
                               th:text="${offer.conference.topic}"></a>
                        </td>
                        <td th:text="${offer.topic}"></td>
                        <td th:text="${offer.speaker.email}"></td>
                        <td th:text="${offer.status}"></td>
                        <td>
                            <a th:if="${offer.status.toString() !='ACCEPT'}"
                               th:href="@{/offers/accept-topic-offer/{id}(id = ${offer.id}, url = '/processed')}"
                               class="btn btn-outline-success"
                               th:text="'accept'">
                            </a>
                            <a th:if="${offer.status.toString() !='DENIED'}"
                               th:href="@{/offers/deny-topic-offer/{id}(id = ${offer.id}, url = '/processed')}"
                               class="btn btn-danger"
                               th:text="'deny'">
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item" th:classappend="*{!processedTopicOffers.hasPrevious()} ? 'disabled': ''">
                            <a class="page-link"
                               th:href="@{/offers/processed(topic='', p1_size = ${processedSpeakerOffers.getSize()}, p1_page = ${processedSpeakerOffers.getNumber() + 1}, p2_size = ${processedTopicOffers.getSize()}, p2_page = ${processedTopicOffers.getNumber()})}"
                               aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>

                        <li th:each="page : ${#numbers.sequence(1, processedTopicOffers.getTotalPages())}"
                            th:class="${page == processedTopicOffers.getNumber() + 1} ? 'page-item active' : 'page-item'">
                            <a class="page-link"
                               th:href="@{/offers/processed(topic='', p1_size = ${processedSpeakerOffers.getSize()}, p1_page = ${processedSpeakerOffers.getNumber() + 1}, p2_size = ${processedTopicOffers.getSize()}, p2_page = ${page})}"
                               th:text="${page}">
                            </a>
                        </li>

                        <li class="page-item" th:classappend="*{!processedTopicOffers.hasNext()} ? 'disabled': ''">
                            <a class="page-link"
                               th:href="@{/offers/processed(topic='', p1_size = ${processedSpeakerOffers.getSize()}, p1_page = ${processedSpeakerOffers.getNumber() + 1}, p2_size = ${processedTopicOffers.getSize()}, p2_page = ${processedTopicOffers.getNumber() + 2})}"
                               aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

</body>
</html>
